@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Pangolin&display=swap');

#map{
    height: 500px;
    width: 50%;
    margin: 0;
    border: 2px black solid;
    display: flex;
    justify-content: right;
}
#header {
    text-align: center;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px black solid;
    background-color: #6ADC44;
    width: 100%
}

#interactive-container{
    height: 90vh;
    width: 90%;
    border: 2px black solid;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #376BF6;
}
#quiz-container{
    width: 40%;
    /* padding: 5px; */
    float: left;
    align-items: center;
}
.pin-header, #header{
    font-family: 'Bangers', cursive;
}
#trivia-text{
    font-family: 'Pangolin', cursive;
    margin: 1px;
    text-align: center;
    align-items: center;
    width: 90%;
    font-size: 15px;
    float: none;
    border-bottom: black 1px solid
}
  
.list {
  user-select: none;
  align-items: center;
  margin: auto;
}

.item {
  display: flex;
  background-color: #F8D84A; 
  font-family: Pangolin;
  align-items: center;
  border: 1px green solid;
  /* padding: 2px; */
  width: 60px;
  margin: 1px; 
  color: black;
  cursor: grab;
}

.dragged {
  background-color: #c6dfff;
}

button {
  font-family: Pangolin;
  font-size: 100%;
  align-items: center;
  background-color: #c6dfff; 
  width: max-content;
  margin: 1px; 
  color: orange;
  }
  
text {
  align-items: center;
}